<!doctype html>
<html lang="en">
<head>
    <title>PuppyCAM</title>
</head>
<body>
<a href="/debug">DEBUG</a><div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">PuppyCAM</h3>
			<select id="cam" onchange="window.location.href = '/' + document.getElementById('cam').value;"></select>
			voltage: {{voltage}}     ON time: {{ ontime|safe }}
			<br><br>
            <img id="video_feed" src="{{video_feed_url|safe}}" height = "30%" width="30%"></img>
        </div>
    </div>
</div>
<script>
	var existing_cams = {{existing_cams|safe}};
	var current_cam = {{current_cam|safe}};
	var selected_id = existing_cams.indexOf(current_cam);
		if (window.location.href.indexOf('token') != -1) {
			window.location.href = '/';
	}
	
	cam_list = document.getElementById("cam");
	existing_cams.forEach(function(item) {
		var option = document.createElement('option');
		option.text = item;
		cam_list.appendChild(option);
	});
	cam_list.selectedIndex = selected_id;
	
	function checkPageFocus() {
		if (document.hasFocus())
			document.getElementById("video_feed").src = "{{video_feed_url|safe}}";
		else
			document.getElementById("video_feed").src = "";
	}
	setInterval(checkPageFocus, 500);
</script>
</body>
</html>
